* {
  padding: 0;
  margin: 0;
}

body {
  .feature_section {
    display: flex;
    justify-content: center;
    .feature {
      width: 200px;
      height: 200px;
      border: 1px solid black;
      .feature_title {
        p {
        }
      }
    }
  }
}
